<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Planetwars test task for Machine Zone</title>
      <script src="/js/out/paperjs/paper-full.js" type="text/javascript"></script><!-- {% script "/js/out/paperjs/paper-full.js" %}-->
      <script type="text/javascript">
          var globals = {};
      </script>
  </head>
  <body>
  <script type="text/paperscript" canvas="myCanvas">
        globals.drawAll = function(data) {
            globals.data = data;
            console.log('drawAll fired: ' + globals.data);

            var globalOffsetX = 30;
            var globalOffsetY = 30;

            // clear old draw
            project.clear();

            // draw all planets
            for (var n = 0; n < globals.data.planets.length; n++) {
                var circlePoint = new Point(globalOffsetX + globals.data.planets[n].x * globalOffsetX, globalOffsetY + globals.data.planets[n].y * globalOffsetY);
                var path = new Path.Circle(circlePoint, 15);
                if (globals.data.planets[n].owner != 'Neutral') { path.fillColor = 'blue'; } else { path.fillColor = 'gray'; };
                // hint text
                path.data.offset = new Size(0, 22);
                path.data.justification = 'center';
                path.data.fillColor = 'green';
                path.data.content = 'Owner: ' + globals.data.planets[n].owner +
                                '\nTeam: ' + globals.data.planets[n].team +
                                '\nProduced: ' + globals.data.planets[n].produced +
                                '\nOwn fleet: ' + globals.data.planets[n].fleet;
            }
            // draw all fleets
            for (var n = 0; n < globals.data.fleets.length; n++) {
                var fromPoint = new Point(globalOffsetX + globals.data.fleets[n].fromx * globalOffsetX, globalOffsetY + globals.data.fleets[n].fromy * globalOffsetY);
                var toPoint = new Point(globalOffsetX + globals.data.fleets[n].tox * globalOffsetX, globalOffsetY + globals.data.fleets[n].toy * globalOffsetY);
                var xlen = (globals.data.fleets[n].tox - globals.data.fleets[n].fromx);
                var ylen = (globals.data.fleets[n].toy - globals.data.fleets[n].fromy);
                var waylen = Math.round(0.5 + Math.sqrt(xlen * xlen + ylen * ylen));
                // draw fleet way
                var path = new Path();
                path.strokeColor = 'black';
                path.moveTo(fromPoint);
                path.lineTo(toPoint);
                // draw fleet position
                var fleetPoint = new Point(
                    fromPoint.x + ((toPoint.x - fromPoint.x) / waylen) * (waylen - globals.data.fleets[n].arrivingby),
                    fromPoint.y + ((toPoint.y - fromPoint.y) / waylen) * (waylen - globals.data.fleets[n].arrivingby));
                var fleetCircle = new Path.Circle(fleetPoint, 8);
                fleetCircle.fillColor = 'green';
                fleetCircle.data.offset = new Size(0, 10);
                fleetCircle.data.justification = 'center';
                fleetCircle.data.fillColor = 'green';
                fleetCircle.data.content = 'Owner: ' + globals.data.fleets[n].owner +
                                '\nArriving by: ' + globals.data.fleets[n].arrivingby +
                                '\nFleet: ' + globals.data.fleets[n].fleet;
            }

            view.draw();
//            view.update();
        };

        function onMouseMove(event) {
            if (event.item == null && globals.path != null) {
                globals.path.remove();
                globals.path = null;
            };
            if (event.item != null && event.item.className == 'Path') {
                if (globals.path != null) {
                    globals.path.remove();
                    globals.path = null;
                }
                if (event.item.data.content != undefined) {
                    var path = new PointText(event.item.position + event.item.data.offset);
                    path.justification = event.item.data.justification;
                    path.fillColor = event.item.data.fillColor;
                    path.content = event.item.data.content;
                    globals.path = path;
                }
            }
        }

        function onResize(event) {
            canvas1 = document.getElementById("canvas1");
            x = canvas1.offsetWidth;
            y = canvas1.offsetHeight;
//            x = canvas1.innerWidth;
//            y = canvas1.innerHeight;
        	console.log("onResize fired: " + x + " " + y + " " + event);
            myCanvas = document.getElementById("myCanvas");
//        	myCanvas.width = x;
//        	myCanvas.height = y;
//        	this.paper.view.size.set(x, y);
            var canvasSize = view.size;
        	console.log("canvasSize: " + canvasSize.x + " " + canvasSize.y + " " + canvasSize.width + " " + canvasSize.height);
            var maxSize = Math.min(canvasSize.width, canvasSize.height);
            var center = view.center;
//            view.viewSize = new Size (x, y);

//myCanvas.style.width='100%';
//myCanvas.style.height='100%';
//myCanvas.width  = x;
//myCanvas.height = y;

            view.draw();
//            view.update();
        };
      </script>
  <div id="parent">
      <div id="form1" class="left"></div>
      <div id="canvas1" class="right">
          <canvas id="myCanvas">Your browser doesn't support canvas</canvas>
      </div>
  </div>

  <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <!-- Load the Paper.js library -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("planetwars.app");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




