html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

#parent {
    overflow: hidden;
    border: 1px solid red
}
.left {
    float: left;
    width: 20%;
    height: 99%;
    background: #ddd
}
.right {
    width: 100%;
    height: 99%;
    background: #eee;
}
#myCanvas {
    position: absolute;
    width: 79%;
    height: 99%;
    overflow: hidden;
}
